## Pulling the APL Network from Neuprint and creating undirected lists for modularity program

1. Pulling the network:
    
    a. Pulls presynaptic and postsynaptic connections of the apl
    
    b. Creates one list from those neurons and pulls connections from and to that list
2. Creating undirected lists
    
    a. create singular data frame
    
    b. Run network list through undirected list program

In [1]:
import pandas as pd
from neuprint import Client
c = Client('neuprint.janelia.org', dataset = 'hemibrain:v1.2.1', token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InJ3MjgyMkBiYXJuYXJkLmVkdSIsImxldmVsIjoibm9hdXRoIiwiaW1hZ2UtdXJsIjoiaHR0cHM6Ly9saDMuZ29vZ2xldXNlcmNvbnRlbnQuY29tL2EvQUFUWEFKeXhTVGZmQnJuWWtLR2JkQkNoTTVWNTkxVFBwYmNHSk9wRFZ4LU89czk2LWM_c3o9NTA_c3o9NTAiLCJleHAiOjE4MjQxMDAwMzd9.rgd5rsbP48Prb5iENzViLRl8TLFBWzW4n8QwoRxIdeQ')
c.fetch_version()

from neuprint import fetch_adjacencies, NeuronCriteria as NC

In [2]:
# 1a. Importing upstream and downstream neurons
crit = NC(bodyId = (1640909284,5813024698))
n_df_in, conn_df_in = fetch_adjacencies(crit, None)
n_df_o, conn_df_o = fetch_adjacencies(None, crit)

# Sorting neuron lists by weight
conn_df_in = conn_df_in.sort_values(by='weight', ascending= False)
conn_df_o = conn_df_o.sort_values(by='weight', ascending= False)

In [4]:
# b. Seperating into a list and appending from upstream and downstream dataframes
neuron_ids = conn_df_o.bodyId_pre.append(conn_df_in.bodyId_post)

In [5]:
# 2a. Creating a singular dataframe to pull undirected list from
conn_df, conn_df_ = fetch_adjacencies(neuron_ids, neuron_ids)

  0%|          | 0/22 [00:00<?, ?it/s]

In [6]:
# Creating a singular dataframe to pull undirected input list from
conn_in, conn_in_ = fetch_adjacencies(conn_df_o.bodyId_pre, conn_df_o.bodyId_pre)

  0%|          | 0/19 [00:00<?, ?it/s]

In [7]:
# Creating a singular dataframe to pull undirected output list from
conn_out, conn_out_ = fetch_adjacencies(conn_df_in.bodyId_post, conn_df_in.bodyId_post)

  0%|          | 0/19 [00:00<?, ?it/s]

In [8]:
# Print full dataframe to check
conn_df_

        bodyId_pre  bodyId_post    roi  weight
0        329599710    542634818  AL(R)       2
1        329599710    609924156  AL(R)       1
2        329599710    635062078  AL(R)       5
3        329599710    699031185  AL(R)       2
4        329599710    724816115  AL(R)      14
...            ...          ...    ...     ...
276087  7112626217   5813018460  AL(R)       1
276088  7112626217   5813024698  AL(R)       1
276089  7112626217   5813069055  AL(R)       1
276090  7112626217   5901218894  AL(R)       1
276091  7112626217   5901222731  AL(R)       1

[275928 rows x 4 columns]

In [9]:
#2b. This function creates an undirected list and accounts for bidirectionality
def create_undirected(df):
    undirected_edges = {}  # Dictionary to store the undirected edges and their weights

    for index, row in df.iterrows():
        source = row['bodyId_pre']
        target = row['bodyId_post']
        weight = row['weight']

        # Check if the edge already exists in the reverse
        if (target, source) in undirected_edges:
            # Update the weight of the existing edge
            undirected_edges[(target, source)] += weight
        else:
            # Add a new edge to dict
            undirected_edges[(source, target)] = weight

    # Create a DataFrame from the undirected edges dictionary
    undirected_edgelist = pd.DataFrame(list(undirected_edges.keys()), columns=['source', 'target'])
    undirected_edgelist['weight'] = list(undirected_edges.values())
    return undirected_edgelist

In [10]:
# Creating undirected list from full network
df=conn_df_[['bodyId_pre','bodyId_post', 'weight']]
undirected_full = create_undirected(df)

In [11]:
# print output dataframe to check after editing
undirected_full

            source      target  weight
0        329599710   542634818      13
1        329599710   609924156       1
2        329599710   635062078      10
3        329599710   699031185       2
4        329599710   724816115      15
...            ...         ...     ...
195601  7112626217  1916800213       1
195602  7112626217  1946178096       1
195603  7112626217  2040270490       1
195604  7112626217  5813003310       1
195605  7112626217  5901218894       1

[195606 rows x 3 columns]

In [12]:
# Creating undirected list from full network
df_in=conn_in_[['bodyId_pre','bodyId_post', 'weight']]
undirected_in = create_undirected(df_in)

# Print out created dataframe to check
undirected_in

            source      target  weight
0        329599710   542634818      13
1        329599710   609924156       1
2        329599710   635062078      10
3        329599710   699031185       2
4        329599710   724816115      15
...            ...         ...     ...
161535  7112626217  1916800213       1
161536  7112626217  1946178096       1
161537  7112626217  2040270490       1
161538  7112626217  5813003310       1
161539  7112626217  5901218894       1

[161540 rows x 3 columns]

In [13]:
# Creating undirected list from full network
df_out=conn_out_[['bodyId_pre','bodyId_post', 'weight']]
undirected_out = create_undirected(df_out)

# Print out created dataframe to check
undirected_out

            source      target  weight
0        417199910   509626405       6
1        417199910   850703925       1
2        417199910  1640909284       1
3        417199910  1727979406       2
4        417199910  1727988111       1
...            ...         ...     ...
177334  7112626217  1669924220       1
177335  7112626217  1916800213       1
177336  7112626217  1946178096       1
177337  7112626217  2040270490       1
177338  7112626217  5901218894       1

[177339 rows x 3 columns]

In [14]:
# Save dataframe to csv in lLN2f folder
undirected_full.to_csv('/Users/rhessa/flybrain-clustering/lLN2f/lLN2f_full.txt', sep= ' ', header=False, index=False)
undirected_in.to_csv('/Users/rhessa/flybrain-clustering/lLN2f/lLN2f_in.txt', sep= ' ', header=False, index=False)
undirected_out.to_csv('/Users/rhessa/flybrain-clustering/lLN2f/lLN2f_out.txt', sep= ' ', header=False, index=False)