## Pulling the combined oviIN Network from Neuprint and creating undirected lists for modularity program

1. Pulling the network:
    a. Pulls presynaptic and postsynaptic connections of the apl
    b. Creates one list from those neurons and pulls connections from and to that list
2. Creating undirected lists
    a. Run network list through undirected list program

In [2]:
import pandas as pd
from neuprint import Client
c = Client('neuprint.janelia.org', dataset = 'hemibrain:v1.2.1', token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InJ3MjgyMkBiYXJuYXJkLmVkdSIsImxldmVsIjoibm9hdXRoIiwiaW1hZ2UtdXJsIjoiaHR0cHM6Ly9saDMuZ29vZ2xldXNlcmNvbnRlbnQuY29tL2EvQUFUWEFKeXhTVGZmQnJuWWtLR2JkQkNoTTVWNTkxVFBwYmNHSk9wRFZ4LU89czk2LWM_c3o9NTA_c3o9NTAiLCJleHAiOjE4MjQxMDAwMzd9.rgd5rsbP48Prb5iENzViLRl8TLFBWzW4n8QwoRxIdeQ')
c.fetch_version()

from neuprint import fetch_adjacencies, NeuronCriteria as NC, fetch_neurons

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [3]:
# 1a. Importing upstream and downstream neurons
crit = NC(bodyId = (423101189, 485934965))
n_df_in, conn_df_in = fetch_adjacencies(crit, None)
n_df_o, conn_df_o = fetch_adjacencies(None, crit)

# Sorting neuron lists by weight
conn_df_in = conn_df_in.sort_values(by='weight', ascending= False)
conn_df_o = conn_df_o.sort_values(by='weight', ascending= False)

In [4]:
# b. Seperating into a list and appending from upstream and downstream dataframes
neuron_ids = conn_df_o.bodyId_pre._append(conn_df_in.bodyId_post).unique().tolist()

In [5]:
# Does it include the two original neurons?
print(423101189 in neuron_ids)
print(485934965 in neuron_ids)

True
True

In [6]:
# 2a. Creating a singular dataframe to pull undirected list from
conn_df, conn_df_ = fetch_adjacencies(neuron_ids, neuron_ids)

  0%|          | 0/32 [00:00<?, ?it/s]

In [6]:
# Creating a singular dataframe to pull undirected input list from
conn_in, conn_in_ = fetch_adjacencies(conn_df_o.bodyId_pre, conn_df_o.bodyId_pre)

  0%|          | 0/19 [00:00<?, ?it/s]

In [105]:
# Creating a singular dataframe to pull undirected output list from
conn_out, conn_out_ = fetch_adjacencies(conn_df_in.bodyId_post, conn_df_in.bodyId_post)

  0%|          | 0/24 [00:00<?, ?it/s]

In [7]:
conn_df

          bodyId    type         instance
0      203253253  SMP505  SMP505(PDM22)_L
1      203594164    None             None
2      203598466    None             None
3      204621549    None             None
4      204958353    None             None
...          ...     ...              ...
6338  7112625115    None             None
6339  7112625126    None             None
6340  7112625282    None             None
6341  7112625310    None             None
6342  7112626236    None             None

[6343 rows x 3 columns]

In [8]:
# Add bodyId_pre and bodyId_post columns for merging purposes
conn_df['bodyId_pre'] = conn_df.bodyId.astype(int)
conn_df['bodyId_post'] = conn_df.bodyId.astype(int)
# Rename type to type post
conn_df = conn_df.rename(columns = {'type_post': 'type'})
conn_df

          bodyId    type         instance  bodyId_pre  bodyId_post
0      203253253  SMP505  SMP505(PDM22)_L   203253253    203253253
1      203594164    None             None   203594164    203594164
2      203598466    None             None   203598466    203598466
3      204621549    None             None   204621549    204621549
4      204958353    None             None   204958353    204958353
...          ...     ...              ...         ...          ...
6338  7112625115    None             None  7112625115   7112625115
6339  7112625126    None             None  7112625126   7112625126
6340  7112625282    None             None  7112625282   7112625282
6341  7112625310    None             None  7112625310   7112625310
6342  7112626236    None             None  7112626236   7112626236

[6343 rows x 5 columns]

In [11]:
# create a dictionary of the bodyId and type
celltoID_dict = dict(zip(conn_df.bodyId, conn_df.type))

In [9]:
# collapse by roi so that there aren't duplicate connections 
conn_df_

        bodyId_pre  bodyId_post     roi  weight
0        203253253    203594164  SMP(L)       2
1        203253253    204621549  SMP(L)       1
2        203253253    235657073  SMP(L)       2
3        203253253    295802733  SMP(R)       1
4        203253253    296194535  SMP(R)       1
...            ...          ...     ...     ...
871264  7112625282   5813082723  SMP(L)       1
871265  7112625282   5813089803  SMP(L)       1
871266  7112626236    329098346  SMP(L)       1
871267  7112626236    576683512  SMP(L)       1
871268  7112626236   5813034596  SMP(L)       1

[868673 rows x 4 columns]

In [12]:
# create type_pre and type_post columns and fill with the type of the bodyId
conn_df_['type_pre'] = conn_df_.bodyId_pre.map(celltoID_dict)
conn_df_['type_post'] = conn_df_.bodyId_post.map(celltoID_dict)

In [13]:
conn_df_

        bodyId_pre  bodyId_post     roi  weight type_pre type_post
0        203253253    203594164  SMP(L)       2   SMP505      None
1        203253253    204621549  SMP(L)       1   SMP505      None
2        203253253    235657073  SMP(L)       2   SMP505      None
3        203253253    295802733  SMP(R)       1   SMP505    SLP397
4        203253253    296194535  SMP(R)       1   SMP505    SMP352
...            ...          ...     ...     ...      ...       ...
871264  7112625282   5813082723  SMP(L)       1     None    CRE006
871265  7112625282   5813089803  SMP(L)       1     None  CRE043_c
871266  7112626236    329098346  SMP(L)       1     None      None
871267  7112626236    576683512  SMP(L)       1     None      None
871268  7112626236   5813034596  SMP(L)       1     None      None

[868673 rows x 6 columns]

In [14]:
# show Nans in conn_df_
conn_df_[conn_df_['bodyId_post'].isnull()]

Empty DataFrame
Columns: [bodyId_pre, bodyId_post, roi, weight, type_pre, type_post]
Index: []

In [15]:
df_full=conn_df_[['type_pre','type_post', 'weight']]
df_full

       type_pre type_post  weight
0        SMP505      None       2
1        SMP505      None       1
2        SMP505      None       2
3        SMP505    SLP397       1
4        SMP505    SMP352       1
...         ...       ...     ...
871264     None    CRE006       1
871265     None  CRE043_c       1
871266     None      None       1
871267     None      None       1
871268     None      None       1

[868673 rows x 3 columns]

In [16]:
#df['type_post'].unique().tolist()
#df['type_pre'].unique().tolist()
# compare the two lists for differences
df['type_post'].compare(df['type_pre'])

          self   other
0       SMP505    None
1       SMP505    None
2       SMP505    None
3       SMP505    None
4       SMP505    None
...        ...     ...
868765    None  SMP151
868767    None    FB4C
868768    None  SMP151
868769    None  SMP462
868770    None  SMP186

[805386 rows x 2 columns]

### Input

In [112]:
# Create dictionary of the bodyId and type
celltoID_dict_in = dict(zip(conn_in.bodyId, conn_in.type))

In [113]:
# Map the bodyId to the type in the conn_in_
conn_in_['type_pre'] = conn_in_.bodyId_pre.map(celltoID_dict_in)
conn_in_['type_post'] = conn_in_.bodyId_post.map(celltoID_dict_in)
conn_in_

        bodyId_pre  bodyId_post     roi  weight type_pre type_post
0        204958872    298254517  SMP(L)       3     None    SMP082
1        204958872    328943204  SMP(L)       3     None    SMP181
2        204958872    329310230  SMP(L)       1     None    SMP082
3        204958872    330415332  SMP(L)       4     None    SMP513
4        204958872    360138182  SMP(L)       2     None      None
...            ...          ...     ...     ...      ...       ...
467860  7112622044   7112616205  SMP(L)       1   LAL137      None
467861  7112624972    423101189  CRE(R)       1     None     oviIN
467862  7112624972    576566223  CRE(R)       1     None    SMP153
467863  7112624972    610312734  CRE(R)       1     None    CRE023
467864  7112624972    827893839  SMP(R)       1     None      None

[466636 rows x 6 columns]

In [149]:
#conn_out['bodyId_pre'] = conn_out.bodyId.astype(int)
#conn_out.rename(columns = {'bodyId':'bodyId_post'}, inplace = True)
pre = conn_out[['bodyId_pre', 'type']]
post = conn_out[['bodyId_post', 'type']]
out_pre = conn_out_.merge(pre, on = 'bodyId_pre', how = 'right',suffixes=('_pre', '_post'))
out_ = out_pre.merge(post, on = 'bodyId_post', how = 'right', suffixes=('_pre', '_post'))
out_.bodyId_post = out_.bodyId_post.astype('Int64')
#out_.bodyId_pre = out_.bodyId_pre.astype('Int64')
out_

        bodyId_pre  bodyId_post     roi  weight type_pre type_post
0        203594164    203253253  SIP(L)     1.0     None    SMP505
1        203594164    203253253  SMP(L)     1.0     None    SMP505
2        203594164    203253253  SMP(R)     1.0     None    SMP505
3        203598466    203253253  SMP(L)    15.0     None    SMP505
4        203598466    203253253  SIP(L)     6.0     None    SMP505
...            ...          ...     ...     ...      ...       ...
646945   578254032   7112626236  SMP(L)     2.0   SMP151      None
646946   920108605   7112626236  SMP(L)     1.0     None      None
646947  1131836229   7112626236  SMP(L)     1.0     FB4C      None
646948  5813011443   7112626236  SMP(L)     1.0   SMP462      None
646949  5813020803   7112626236  SMP(L)     1.0   SMP186      None

[646950 rows x 6 columns]

# Undirected dataframe creation function

In [18]:
#2b. This function creates an undirected list and accounts for bidirectionality
def create_undirected(df):
    undirected_edges = {}  # Dictionary to store the undirected edges and their weights

    for index, row in df.iterrows():
        source = row['type_pre']
        target = row['type_post']
        weight = row['weight']

        # Check if the edge already exists in the reverse
        if (target, source) in undirected_edges:
            # Update the weight of the existing edge
            undirected_edges[(target, source)] += weight
        else:
            # Add a new edge to dict
            undirected_edges[(source, target)] = weight

    # Create a DataFrame from the undirected edges dictionary
    undirected_edgelist = pd.DataFrame(list(undirected_edges.keys()), columns=['source', 'target'])
    undirected_edgelist['weight'] = list(undirected_edges.values())
    return undirected_edgelist

In [127]:
# Creating undirected list from full network
df_list = conn_df_[['type_pre','type_post', 'weight']]
undirected_full = create_undirected(df_list)

In [128]:
# print output dataframe to check after editing
undirected_full = undirected_full.fillna('None')
undirected_full

        source  target  weight
0       SMP505    None     645
1       SMP505  SLP397       1
2       SMP505  SMP352       3
3       SMP505  SMP499      19
4       SMP505    FB8I       9
...        ...     ...     ...
177353  LAL137    FB2A       1
177354  LAL137  VES067       3
177355  LAL137   CL215       1
177356  LAL137   FB5AA       1
177357  LAL137    pC1d       6

[177358 rows x 3 columns]

In [153]:
# Creating undirected list from full network
df_in=conn_in_[['type_pre','type_post', 'weight']]
undirected_in = create_undirected(df_in)

# Print out created dataframe to check
undirected_in.fillna('None')

       source  target weight
0      SMP082    None    3.0
1      SMP181    None    1.0
2      SMP513    None    2.0
3      SMP108    None    1.0
4       oviIN    None    1.0
...       ...     ...    ...
98163  CRE086  LAL137    2.0
98164  LAL121  LAL137    7.0
98165  ATL035  LAL137    1.0
98166  PLP123  LAL137    2.0
98167    FB5D  LAL137    1.0

[98168 rows x 3 columns]

In [158]:
undirected_in = undirected_in.fillna('None')

In [164]:
# Creating undirected list from full network
df_out=out_[['type_pre','type_post', 'weight']]
undirected_out = create_undirected(df_out)

# Print out created dataframe to check
undirected_out.fillna('None')

        source  target  weight
0         None  SMP505    46.0
1       SMP352  SMP505     1.0
2       SMP499  SMP505     8.0
3       SMP338  SMP505     1.0
4       SMP082  SMP505    20.0
...        ...     ...     ...
138911  CRE086  LAL137     2.0
138912  VES078  LAL137     3.0
138913  PLP123  LAL137     2.0
138914    FB4N  LAL137     1.0
138915    FB5D  LAL137     1.0

[138916 rows x 3 columns]

In [165]:
undirected_out = undirected_out.fillna('None')

In [166]:
# Save dataframe to csv in oviIN_combined folder
undirected_full.to_csv('/Users/rhessa/flybrain-clustering/oviIN_celltype/oviIN_combined/ovicell_full.txt', sep= ' ', header=False, index=False)
# Save input and output dataframes to oviIN_combined folder
undirected_in.to_csv('/Users/rhessa/flybrain-clustering/oviIN_celltype/oviIN_combined/ovicell_in.txt', sep= ' ', header=False, index=False)
undirected_out.to_csv('/Users/rhessa/flybrain-clustering/oviIN_celltype/oviIN_combined/ovicell_out.txt', sep= ' ', header=False, index=False)

In [129]:
undirected_full

        source  target  weight
0       SMP505    None     645
1       SMP505  SLP397       1
2       SMP505  SMP352       3
3       SMP505  SMP499      19
4       SMP505    FB8I       9
...        ...     ...     ...
177353  LAL137    FB2A       1
177354  LAL137  VES067       3
177355  LAL137   CL215       1
177356  LAL137   FB5AA       1
177357  LAL137    pC1d       6

[177358 rows x 3 columns]

# Creating numbered celltypes

In [29]:
# Section to create numbered celltypes

# Pull all neurons for all cell types
all_info, roi_info = fetch_neurons(NC(status='Traced'))

/Users/rhessa/miniconda3/envs/flybrainlab/lib/python3.11/site-packages/neuprint/client.py:609: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  neuron_props_val = df_results.iloc[0][0]

In [114]:
# Pull all cell types from dataframe
all_cells = all_info['type'].unique()
all_cells

array([None, 'CL141', 'FS4C', ..., 'aMe6b', 'AVLP534', 'SLP169'],
      dtype=object)

In [115]:
# Checking number of cell types pulled 
len(all_cells)

5621

In [116]:
# Create dictionary of celltypes with the values as increasing 8 digit numbers
# i want the first number to be 00000001, 00000002, etc
cell_dict = {}

for i, cell in enumerate(all_cells):
    cell_dict[cell] = str(i+1).zfill(8)
#cell_dict

In [16]:
# Instead of creating the undirected graph from the type_pre and type_post colums, 
#I will create it from the numbered celltypes

# Pulling from the full dataframe
df_full

       type_pre type_post  weight
0        SMP505      None       2
1        SMP505      None       1
2        SMP505      None       2
3        SMP505    SLP397       1
4        SMP505    SMP352       1
...         ...       ...     ...
871264     None    CRE006       1
871265     None  CRE043_c       1
871266     None      None       1
871267     None      None       1
871268     None      None       1

[868673 rows x 3 columns]

Previously, I saw that merge method I used to align celltype to bodyIDpre and post was creating extra rows which threw of the rest of the process. Instead I used a dictionary and mapped. This solved the issue of the NaN rows appearing

In [120]:
# now take df and create a column that replaces the celltype with the number
# and print out any rows that dont map to a number
df_full['type_pre_num'] = df_full['type_pre'].map(cell_dict)
df_full['type_post_num'] = df_full['type_post'].map(cell_dict)

df_full

/var/folders/kn/8dwfcxtd2p3c4kzb8yj0j5pr0000gn/T/ipykernel_44848/1634244594.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_full['type_pre_num'] = df_full['type_pre'].map(cell_dict)
/var/folders/kn/8dwfcxtd2p3c4kzb8yj0j5pr0000gn/T/ipykernel_44848/1634244594.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_full['type_post_num'] = df_full['type_post'].map(cell_dict)

       type_pre type_post  weight type_pre_num type_post_num
0        SMP505      None       2     00000005      00000001
1        SMP505      None       1     00000005      00000001
2        SMP505      None       2     00000005      00000001
3        SMP505    SLP397       1     00000005      00000126
4        SMP505    SMP352       1     00000005      00000032
...         ...       ...     ...          ...           ...
871264     None    CRE006       1     00000001      00002291
871265     None  CRE043_c       1     00000001      00002532
871266     None      None       1     00000001      00000001
871267     None      None       1     00000001      00000001
871268     None      None       1     00000001      00000001

[868673 rows x 5 columns]

In [122]:
# Drop the type_pre and type_post columns
df_full = df_full[['type_pre_num', 'type_post_num', 'weight']]

In [19]:
# Create undirected list from full network and rename columns
#df = df_full.rename(columns = {'type_pre_num': 'type_pre', 'type_post_num': 'type_post'})
undirected_full_num = create_undirected(df_full)
undirected_full_num.fillna('None')
undirected_full_num

        source  target  weight
0       SMP505    None     645
1       SMP505  SLP397       1
2       SMP505  SMP352       3
3       SMP505  SMP499      19
4       SMP505    FB8I       9
...        ...     ...     ...
177353  LAL137    FB2A       1
177354  LAL137  VES067       3
177355  LAL137   CL215       1
177356  LAL137   FB5AA       1
177357  LAL137    pC1d       6

[177358 rows x 3 columns]

In [131]:
# Check with Non numbered list (same rows and numbers)
undirected_full

        source  target  weight
0       SMP505    None     645
1       SMP505  SLP397       1
2       SMP505  SMP352       3
3       SMP505  SMP499      19
4       SMP505    FB8I       9
...        ...     ...     ...
177353  LAL137    FB2A       1
177354  LAL137  VES067       3
177355  LAL137   CL215       1
177356  LAL137   FB5AA       1
177357  LAL137    pC1d       6

[177358 rows x 3 columns]

In [133]:
# drop rows with NaN values (shouldn't be any)
undirected_full_checked = undirected_full_num.dropna()

In [134]:
undirected_full_checked

          source    target  weight
0       00000005  00000001     645
1       00000005  00000126       1
2       00000005  00000032       3
3       00000005  00000137      19
4       00000005  00000163       9
...          ...       ...     ...
177353  00005616  00003666       1
177354  00005616  00003995       3
177355  00005616  00003680       1
177356  00005616  00003250       1
177357  00005616  00005276       6

[177358 rows x 3 columns]

In [20]:
undirected_full_num.to_csv('/Users/rhessa/flybrain-clustering/oviIN_celltype/oviIN_combined/full/ovicell_full.txt', sep= ',', header=False, index=False)

In [40]:
undirected_full.iloc[85215]

source    None
target    None
weight    None
Name: 85215, dtype: object

In [31]:
import numpy as np
from get_connectome import get_connectome

In [22]:
# use our function to get connectome by cell type

oviINr_bodyID = 423101189
oviINl_bodyID = 485934965

comb_id = [oviINr_bodyID, oviINl_bodyID]
oviIN_type_connectome = get_connectome(comb_id, connectome_by_type=True)
oviIN_type_connectome

2024 04 10 18:52:45  Getting full connectome
2024 04 10 18:52:45  Fetching connections among neurons using the bodyIds from partners

  0%|          | 0/32 [00:00<?, ?it/s]

2024 04 10 18:53:48  Checking weight threshold

          type_pre type_post  weight
0       5-HTPMPD01    ATL017       1
1       5-HTPMPD01     AstA1       2
2       5-HTPMPD01     CL003       1
3       5-HTPMPD01   CL019_a       1
4       5-HTPMPD01     CL165       1
...            ...       ...     ...
228389       vpoEN      pC1b       1
228390       vpoEN      pC1c       2
228391       vpoEN      pC1d      14
228392       vpoEN      pC1e       2
228393       vpoEN     vpoDN      29

[228394 rows x 3 columns]

In [30]:
oviIN_type_connectome_undirected = connectome_to_undirected(oviIN_type_connectome)
oviIN_type_connectome_undirected

            source   target  weight
0       5-HTPMPD01   ATL017       1
1       5-HTPMPD01    AstA1       2
2       5-HTPMPD01    CL003       3
3       5-HTPMPD01  CL019_a       1
4       5-HTPMPD01    CL165       1
...            ...      ...     ...
175893       vpoEN    oviIN       4
175894       vpoEN     pC1b       1
175895       vpoEN     pC1c       2
175896       vpoEN     pC1d      14
175897       vpoEN     pC1e       2

[175898 rows x 3 columns]

In [32]:
undirected_full_num.to_csv('/Users/rhessa/flybrain-clustering/oviIN_celltype/oviIN_combined/full/ovicell_full.txt', sep= ',', header=False, index=False)